<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Movie</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="cssSheet.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('common/header'); -%>

    <div class="container" style="margin-top: 50px">
      <h1 class="text-center">Add New Movie</h1>
      <div class="row justify-content-md-center">
        <div class="col-">
          <form method="POST">
            <div class="form-group">
              <label for="name">Title</label>
              <input
                type="text"
                class="form-control"
                id="title"
                name="title"
                placeholder="Enter Title"
              />
            </div>

            <% if (errors['title']) { %>
            <p style="color: red"><%= errors['title'].message %></p>
            <% } %>

            <div class="form-group">
              <label for="name">Overview</label>
              <input
                type="text"
                class="form-control"
                id="overview"
                name="overview"
                placeholder="Write an overview"
              />
            </div>
            <% if (errors['overview']) { %>
            <p style="color: red"><%= errors['overview'].message %></p>
            <% } %>

            <div class="form-group">
              <label for="name">Original Language</label>
              <input
                type="text"
                class="form-control"
                id="original_language"
                name="original_language"
                placeholder="en, fr, ar.."
              />
            </div>
            <% if (errors['original_language']) { %>
            <p style="color: red"><%= errors['original_language'].message %></p>
            <% } %>

            <div class="form-group">
              <label for="name">Vote Count</label>
              <input
                type="number"
                class="form-control"
                id="vote_count"
                name="vote_count"
                placeholder="Enter vote count"
              />
            </div>
            <% if (errors['vote_count']) { %>
            <p style="color: red"><%= errors['vote_count'].message %></p>
            <% } %>

            <div class="form-group">
              <label for="name">Rating</label>
              <input
                type="text"
                class="form-control"
                id="vote_average"
                name="vote_average"
                placeholder="Enter rating"
              />
            </div>
            <% if (errors['vote_average']) { %>
            <p style="color: red"><%= errors['vote_average'].message %></p>
            <% } %>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <%- include('common/footer') -%>
  </body>
</html>
