<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Movie</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      /* Remove the navbar's default margin-bottom and rounded borders */
      .navbar {
        margin-bottom: 0;
        border-radius: 0;
      }

      /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
      .row.content {
        height: 450px;
      }

      /* Set gray background color and 100% height */
      .sidenav {
        padding-top: 20px;
        background-color: #f1f1f1;
        height: 100%;
      }

      /* Set black background color, white text and some padding */
      footer {
        background-color: #555;
        color: white;
        padding: 15px;
      }

      /* On small screens, set height to 'auto' for sidenav and grid */
      @media screen and (max-width: 767px) {
        .sidenav {
          height: auto;
          padding: 15px;
        }
        .row.content {
          height: auto;
        }
      }
    </style>
  </head>
  <body>
    <%- include('common/header'); -%>
    <div class="container" style="margin-top: 50px">
      <h1 class="text-center">Add New Movie</h1>
      <div class="row justify-content-md-center">
        <div class="col-">
          <form method="POST">
            <div class="form-group">
              <label for="name">Title</label>
              <input
                type="text"
                class="form-control"
                id="title"
                name="title"
                placeholder="Enter Title"
              />
            </div>

            <% if (errors['title']) { %>
            <p style="color: red"><%= errors['title'].message %></p>
            <% } %>

            <div class="form-group">
              <label for="name">Overview</label>
              <input
                type="text"
                class="form-control"
                id="overview"
                name="overview"
              />
            </div>
            <% if (errors['overview']) { %>
            <p style="color: red"><%= errors['overview'].message %></p>
            <% } %>

            <div class="form-group">
              <label for="name">Original Language</label>
              <input
                type="text"
                class="form-control"
                id="original_language"
                name="original_language"
              />
            </div>
            <% if (errors['original_language']) { %>
            <p style="color: red"><%= errors['original_language'].message %></p>
            <% } %>

            <div class="form-group">
              <label for="name">Vote Count</label>
              <input
                type="number"
                class="form-control"
                id="vote_count"
                name="vote_count"
              />
            </div>
            <% if (errors['vote_count']) { %>
            <p style="color: red"><%= errors['vote_count'].message %></p>
            <% } %>

            <div class="form-group">
              <label for="name">Rating</label>
              <input
                type="text"
                class="form-control"
                id="vote_average"
                name="vote_average"
              />
            </div>
            <% if (errors['vote_average']) { %>
            <p style="color: red"><%= errors['vote_average'].message %></p>
            <% } %>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <%- include('common/footer') -%>
  </body>
</html>
